<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-row no-padding>
    <button *ngIf="checked == false; else selectcheck;" ion-button round (click)="checkSelect()">Select</button>
    <ng-template #selectcheck>
      <button ion-button round color="danger" (click)="checkSelect()">Close</button>
      <button ion-button round color="secondary" (click)="actionSheet1()">Action</button>
    </ng-template>
  </ion-row>
    
  <ion-card *ngFor="let card of cards">
    <ion-checkbox *ngIf="checked == true;" [(ngModel)]="card.checked"></ion-checkbox>          
    <img *ngIf="card.imageUrl"  [src]="card.imageUrl" (click)="cardTapped($event, card)" />      
    <ion-card-content>
      <h2 class="card-title" (click)="cardTapped($event, card)">
        Title: {{card.title}}
      </h2>
      <p>
        Description: {{card.description}}
      </p>
      <p>
        Image: {{card.imageUrl}}
      </p>
      <p>
        Status: {{card.status}}
      </p>
      <p>
        Public Share: {{card.shareflag}}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left (click)="edit(card)">
          <ion-icon name='star'></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-left (click)="reportsPage(card)">
          <ion-icon name='musical-notes'></ion-icon>
          Reports
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
