<ion-header>
  <ion-navbar>
    <div [ngSwitch]="value">
      <div *ngSwitchCase="1">
        <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-align-center>Cue Stacks</ion-title>
        <ion-buttons end>
          <button ion-button icon-only (click)="searchMode()">
            <ion-icon name='search'></ion-icon>
          </button>
          <button ion-button icon-only (click)="checkMode()">
            <ion-icon name='list'></ion-icon>
          </button>
          <button ion-button icon-only (click)="loadCards()">
            <ion-icon name='share-alt'></ion-icon>
          </button>
          <!-- <button *ngIf="auth.currentUser" ion-button icon-only (click)="openModalAddStack()">
            <ion-icon name='add'></ion-icon>
          </button>      -->
        </ion-buttons>       
      </div>
      <div *ngSwitchCase="2">
        <ion-buttons end>
          <button ion-button icon-only (click)="actionSheet1()">
            <ion-icon name='beer'></ion-icon>
          </button>   
          <button ion-button icon-only (click)="closeMode()">
            <ion-icon name='close'></ion-icon>
          </button>
        </ion-buttons>       
      </div>
      <div *ngSwitchCase="3">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Search"></ion-searchbar>         
        <ion-buttons end>
          <button ion-button icon-only (click)="closeMode()">
            <ion-icon name='close'></ion-icon>
          </button>
        </ion-buttons>         
      </div>
      <div *ngSwitchDefault>Default Template</div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Stacks</h3>
  <div *ngIf="auth.currentUser">current user is {{auth.currentUser}}</div>                
  <ion-card *ngFor="let card of cards" >
    <div *ngIf="card.status == status || card.status == 'all' || status == 'all'">
      <ion-checkbox *ngIf="checked == true;" [(ngModel)]="card.checked"></ion-checkbox>     
      <img *ngIf="card.imageUrl"  [src]="card.imageUrl" (click)="cardTapped($event, card)" />
      <ion-card-content>
        <h2 class="card-title" (click)="cardTapped($event, card)">
          {{card.title}}
        </h2>
        <p>
          {{card.description}}
        </p>
        <p>
          {{card.status}}
        </p>  
        <p>
          {{card.timeStart}}
        </p>  
        <p>
          {{card.shareflag}}
        </p>  
        </ion-card-content>
    </div>
  </ion-card>

  <!-- Float Action Buttons -->
  <ion-fab bottom right >
    <button ion-fab class="pop-in" color="danger">Accout</button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="openModalLogin()">
        <ion-icon  name="log-in"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
      <button ion-fab color="danger" (click)="openModalSignup()">
        <ion-icon name="link"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab>
        <ion-icon name="logo-github"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
