<ion-header>
  <ion-navbar>
    <div [ngSwitch]="value">
      <div *ngSwitchCase="1">
        <button ion-button small menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cue List
          <ion-buttons end>
            <button ion-button icon-only (click)="searchMode()">
              <ion-icon name='search'></ion-icon>
            </button>
            <button ion-button icon-only (click)="checkMode()">
              <ion-icon name='list'></ion-icon>
            </button>
            <button *ngIf="auth.currentUser" ion-button icon-only (click)="openModalAddCue()">
              <ion-icon name='add'></ion-icon>
            </button>   
          </ion-buttons>
        </ion-title>
      </div>
      <div *ngSwitchCase="2">
        <ion-buttons end>
          <button ion-button icon-only (click)="actionSheet1()">
            <ion-icon name='beer'></ion-icon>
          </button>
          <button ion-button icon-only (click)="closeMode()">
            <ion-icon name='close'></ion-icon>
          </button>
        </ion-buttons>       
      </div>
      <div *ngSwitchCase="3">
        <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
        <ion-buttons end>
          <button ion-button icon-only (click)="closeMode()">
            <ion-icon name='close'></ion-icon>
          </button>
        </ion-buttons>         
      </div>
      <div *ngSwitchDefault>Default Template</div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-list>
    <ion-item-sliding *ngFor="let card of cards">
      <button *ngIf="checked == true; else selectcheck;" ion-item>
        <ion-checkbox [(ngModel)]="card.checked"></ion-checkbox>
        <ion-avatar item-start>
          <img [src]="card.imageUrl" />
        </ion-avatar>
        <ion-label>{{card.question}}</ion-label>
        <div item-content>{{card.answer}}</div>
        <ion-note item-end>Rate: {{card.rate}}</ion-note>     
      </button>
      <ng-template #selectcheck>
      <button ion-item (click)="cardTapped($event, card)">
        <ion-avatar item-start>
          <img [src]="card.imageUrl" />
        </ion-avatar>
        <ion-label>{{card.question}}</ion-label>
        <div item-content>{{card.answer}}</div>
        <ion-note item-end>Rate: {{card.rate}}</ion-note>     
      </button>
      </ng-template>
    </ion-item-sliding>
  </ion-list>
</ion-content>
